.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    display: block;
  }
}

.about__description {
  margin: 0;
  margin-top: 30px;

  @include vp-1023 {
    margin-top: 16px;
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.about__pic {
  @include vp-1023 {
    height: 95%;
    margin-top: 5px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.about__img {
  width: 100%;
  height: 301px;
  object-fit: cover;
  // object-position: -50px;

  @include vp-1023 {
    height: 100%;
    // object-position: 50%;
  }

  @include vp-767 {
    // object-position: -20px;
    // object-position: left;
    // width: 100%;
    min-height: 186px;
  }
}
