.card {
  color: $base-white;
  position: relative;
  width: 100%;
  padding-top: 148%;

  @include vp-1023 {
    height: 386px;
    padding: 0;
  }
}

.card picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: $card-bg-color;
}

.card h3 {
  position: absolute;
  top: 83%;
  left: 30px;
  z-index: 5;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;

  @include vp-1023 {
    top: 315px;
    left: 35px;
  }

  @include vp-767 {
    top: 325px;
    left: 25px;
  }
}

.card:focus-within h3,
.card:hover h3 {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 25px;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: $base-blue;

  @include vp-1023 {
    padding-left: 35px;
  }

  @include vp-767 {
    padding-top: 25px;
    padding-left: 25px;
  }
}

.card__details {
  display: none;
  background-color: $base-blue;
  padding: 70px 25px 35px;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  height: 100%;
  overflow: auto;

  @include vp-1023 {
    padding-left: 35px;
    padding-right: 35px;
  }

  @include vp-767 {
    padding-top: 67px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.card:hover .card__details,
.card:focus-within .card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 0;
  z-index: 2;
}

.card__details-list {
  margin: 0;
}

.card dt {
  font-weight: 500;
}

.card dd {
  margin: 0;
  margin-bottom: 10px;
}

.card a {
  display: block;
  color: $base-blue;
  background-color: $base-white;
  padding: 10px;
  text-align: center;
  font-weight: 600;

  &:hover,
  &:focus {
    background-color: $features-bg-color;
  }
}
