.features {
  display: grid;
  height: min-content;
}

.features__bg {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  height: 562px;

  @include vp-1023 {
    height: 588px;
  }

  @include vp-767 {
    height: 997px;
  }
}

.features__container {
  grid-column: 1/2;
  grid-row: 1/2;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
    margin-bottom: 10px;
  }

  @include vp-767 {
    grid-template-columns: auto;
  }
}
