.form {
  background-color: $base-blue;
  box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
  padding: 50px;

  @include vp-767 {
    padding: 40px 30px;
  }
}

.form legend {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $base-white;
  margin-top: -5px;
  margin-bottom: 27px;

  @include vp-1023 {
    text-align: start;
  }

  @include vp-767 {
    text-align: center;
    line-height: 25px;
  }
}

.form input {
  display: block;
  width: 100%;
  background-color: $base-white;
  border: none;
  margin-bottom: 20px;
  padding: 11px 16px;
  font-size: 14px;
  line-height: 21px;

  &:hover {
    background-color: $features-bg-color;
  }

  &:focus {
    background-color: $features-bg-color;
    outline: 0;
  }

  &::placeholder {
    color: $transparent-blue;
  }
}

.form input[type="checkbox"] {
  display: none;
}

.form input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 10px;
  line-height: 12px;
  color: $base-white;

  @include vp-767 {
    text-align: start;
    line-height: 10px;
  }
}

.form input[type="checkbox"] + label::before {
  display: inline-block;
  content: "";
  flex-shrink: 0;
  background-color: $base-white;
  width: 18px;
  height: 18px;
  margin-right: 5px;

  @include vp-767 {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.form input[type="checkbox"] + label:hover::before {
  background-color: $features-bg-color;
}

.form input[type="checkbox"]:checked + label::before {
  background-image: url("../img/svg/form-check-mark.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.form button {
  border: none;
  background-color: $base-white;
  color: $base-blue;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  padding: 11px;

  &:hover {
    background-color: $features-bg-color;
  }
}

