.promo {
  position: relative;
  padding: 0;
  padding-bottom: 20px;
  color: $base-white;
  min-height: 650px;

  @include vp-1023 {
    padding: 0;
    padding-bottom: 20px;
    min-height: 638px;
  }

  @include vp-767 {
    padding: 0;
    padding-bottom: 20px;
    min-height: 500px;
  }
}

.promo--nojs {
  @include vp-767 {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

.promo img {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-color: $promo-bg-color;

  @include vp-1023 {
    filter: none;
  }
}

.promo__container {
  padding-left: 115px;
}

.promo h1 {
  margin: 0;
  padding-top: 270px;
  font-size: 54px;
  line-height: 66px;

  @include vp-1023 {
    padding-top: 265px;
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    padding-top: 175px;
    font-size: 36px;
    line-height: 45px;
  }
}

.promo p {
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
  line-height: 24px;

  @include vp-1023 {
    margin-top: 15px;
    font-size: 18px;
    line-height: 20px;
  }

  @include vp-767 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }
}
