.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.social__item {
  margin-left: 28px;

  @include vp-1023 {
    margin-left: 19px;
  }

  &:first-child {
    @include vp-767 {
      margin: 0;
    }
  }
}

.social a {
  color: $base-white;

  &:hover {
    color: $features-bg-color;
  }
}

.social svg {
  @include vp-1023 {
    height: 16px;
  }
}
