.social__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.social__item {
  margin-left: 28px;

  @include vp-1023 {
    margin-left: 19px;
  }

  &:first-child {
    margin: 0;
  }
}

.social a {
  color: $base-white;

  &:hover {
    color: $features-bg-color;
  }
}

.social svg {
  @include vp-1023 {
    height: 16px;
  }
}
