// Colors

// Default
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// ---------------------------------
$base-white: #F9FBFD;
$base-blue: #011C40;
$transparent-blue: rgba(1, 28, 64, 0.7);

$promo-bg-color: #002A54;
$features-bg-color: #E3ECF6;
$card-bg-color: #5A8AC0;
$booking-bg-color: #D4ECF9;
$map-bg-color: #FBFAF6;

// Viewports
// ---------------------------------
$vp-320:                            320px;
$vp-768:                            768px;
$vp-1024:                           1024px;

// Retina
// ---------------------------------
$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
